.aesop-component {
    display: block;
    margin: 40px 0;
    
    &.aesop-audio-component {
        @include site-width;
    }
	
    &.aesop-image-component {
		margin: 40px 0; // necessary override
	}
	
    &.aesop-quote-component {
		padding: 60px 0;
        
        &.aesop-component-align-left,
        &.aesop-component-align-right {
            margin: 10px 30px;
            padding: 20px;
            width: 400px !important;
            @media screen and (max-width: 768px) {
                float: none;
                margin: 40px 0;
                padding: 60px 0;
                width: 100% !important;
            }
        }
		
        blockquote {
			color: inherit;
			display: block;
            @include rem(font-size, 30px);
            text-align: center;
            
            @media screen and (max-width: 768px) {
                width: 90%;
            }
            
            &.aesop-component-align-left {
                text-align: left;
            }
            
            &.aesop-component-align-right {
                text-align: right;
            }
            
            &.aesop-component-align-left,
            &.aesop-component-align-right {
                @media screen and (max-width: 768px) {
                    float: none;
                    margin: auto;
                    text-align: center;
                }
            }
			
            .aesop-quote-component-cite {
				color: inherit;
                display: block;
                font-size: 80%;
				margin-top: 15px;
				opacity: .75;
			}
		}
		
        &.quote-is-parallax {
			&.aesop-quote-faded {
				blockquote {
					opacity: 1;
				}
			}
            
            blockquote {
				opacity: 0;
				@include transition(opacity 200ms);
				@media screen and (max-width: 768px) {
					@include transform(none !important);
				}
			}
		}
    }
    
    &.aesop-content-component {
		
        .aesop-content-comp-inner {
            padding: 30px 0;
			width: 90%;
            
            &.aesop-content {
                @include site-width;
            }
        }
        
        p {
			color: inherit;
            margin: 0;
		}
	}
}

.aesop-stacked-img {
	background-attachment: fixed;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px; // default height overridden by js
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
	
    @media screen and (max-width: 768px) {
        background-attachment: scroll;
        background-size: contain !important; // overrides inline style set by js
    }
}

.aesop-img-enlarge {
    display: none; // do something with this :/
}

.aesop-parallax-sc-caption-wrap {
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-family: $font-stack-content;
    @include rem(font-size, 16px);
    padding: 10px 20px;
}

// We're already bundling Font Awesome. Might as well use it :D
.aesopicon {
    display: inline-block;
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    
    &.aesopicon-search-plus:before {
        content: '\f00e';
    }
}

.aesop-collection-item {
    float: left;
}

.aesop-sequence-img-wrap {
	margin: 0;
	
    img {
		display: block;
	}
}

.aesop-image-component-image {
	position: relative;
    
    &.aesop-component-align-left,
    &.aesop-component-align-right {
        margin: 10px 30px;
        max-width: 45% !important;
        
        @media screen and (max-width: 768px) {
            float: none;
            margin: 40px auto;
            max-width: none !important;
            width: auto !important;
        }
    }
    
	.aesop-image-component-caption {
		@extend %image-caption;
	}
}

.aesop-article-chapter {
    background-color: #333 !important;
}

.aesop-cover-title {
    color: #fff;
    @include rem(font-size, 42px);
    padding: 250px 0 20px;
    @include site-width(100%);
}

.aesop-video-container {
    max-width: 100%;
}

.aesop-lightbox {
	border: 0;
	
    &:hover {
		opacity: .8;
	}
}

.aesop-timeline {
	background-color: rgba(255, 255, 255, .9);
	bottom: 0;
	left: 0;
	position: fixed;
    right: 0;
	@include box-shadow(0 0 1px rgba(0, 0, 0, .15));
	z-index: 500;
	
    ol {
		list-style: none;
		margin-bottom: 0;
		text-align: center;
		@include site-width($wide);
        &:after {
			display: none;
		}
	}
	
    li {
        display: inline-block;
        margin: 0 10px;
        @include transition(all 200ms);
        
        a:hover {
            border-color: $link-border-color;
		}
		
        &.active a {
            border-bottom-width: 2px;
            font-weight: bold;
        }
	}
    
    &-stop {
        padding-top: 140px;
    }
}

// override width for top-level aesop components
@each $class in aesop-component, aesop-story-collection {
    
    .entry-content > .#{$class} {
        max-width: 100%;
        width: 100%;
        
        &.aesop-audio-component {
            @include site-width;
        }
    }
}
