/** comments **/

#comments {
    @include site-width;
	padding-bottom: 30px;
}

.comments-area ol {
	list-style: none;
	margin: 0;
}

.comment-list li {
	border-bottom: 1px solid #eee;
	padding: 30px 0 10px;
}

.comment-author {
	margin: 5px 0;
	font-size: 24px;
    font-size: 2.4rem;
    a {
        color: #232730;
    }
    .says {
        display: none;
    }
    .avatar {
        float: left;
        margin: -5px 23px 0 0;
        width: 62px;
        height: 62px;
    }
}

.comment-metadata {
	margin: 5px 0 8px;
	font: 600 14px $font-stack-content;
	color: #abaeb6;
    a {
        color: #b6b6b6;
    }
    time {
        color: #65686e;
    }
}

.comment-content {
	clear: both;
    p {
        margin: 15px 0;
    }
}