#page {
	position: relative;
}

#content {
	padding-top: 20px;
}

.hentry {
	padding: 0 0 50px;
	clear: both;
	margin: 0;
    position: relative;
    &:after {
        @include site-width;
        content: '';
        height: 1px;
        background: $divider-color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    @each $location in (home, archive, search) {
        .#{$location} & {
            padding-top: 50px;
        }
    }
    .single & {
        border: 0;
        padding: 0;
    }
    .entry-summary {
        p,
        .tiled-gallery {
            margin-top: 30px;
        }
        blockquote p,
        cite p,
        q p {
            margin:0;
            padding:0;
        }
    }
    .entry-content > h2:first-child,
    .entry-content > p:first-child {
        margin-top: 0;
    }
    .entry-content > p:first-child,
    .entry-content > p:first-of-type,
    .entry-content > p:first-child:empty + p,
    .entry-content > p:first-of-type:empty + p {
        font-weight: 600;
        color: #1d1d1d;
    }
}

.entry-header {
    @include site-width;
    .has-cover & {
        margin-top: 40px;
    }
    h1 {
        margin: 20px 0 0;
        a {
            position: relative;
            padding: 10px 0;
            color: $text-color-heading;
            &:hover {
                color: $link-color;
                border-color: transparent;
            }
        }
    }
    h2 {
        font: 600 20px $font-stack-content;
        color: #b6b6b6;
        margin: 0;
        a {
            color: #b6b6b6;
            &:hover {
                border-bottom: 2px solid #b6b6b6;
            }
        }
    }
    .span {
        color: #b6b6b6;
    }
}

.entry-summary {
	margin: 0;
    & > * {
        @include site-width;
    }
}

.entry-content {
    @each $elem in h1, h2, h3, h4, div, span, p, ul, ol, blockquote, pre, hr, form {
        & > #{$elem} {
            @include site-width
        }
    }
	& > blockquote.pullquote {
		max-width: 1000px;
	}
    & > .tiled-gallery {
        width: 100%;
        max-width: 100%;
        margin: 30px 0;
    }
}

.wp-caption {
	padding: 0;
	border: 0;
	position: relative;
    &.aligncenter {
        margin: 30px auto;
        width: auto;
        max-width: 100%;
    }
    &.alignleft,
    &.alignright {
        max-width: 50%;
        margin: 10px 0 0;
        padding: 0;
    }
    &.alignleft {
        padding-right: 15px;
    }
    &.alignright {
        padding-left: 15px;
    }
    img[class*="wp-image-"] {
        max-width: 100%;
        margin: 0 auto;
    }
    .wp-caption-text {
        padding: 10px 0;
        font: 400 12px $font-stack-content;
        line-height: 24px;
        border-bottom: 1px solid #dcd8d5;
        text-align: left;
    }
	&.alignleft .wp-caption-text {
		padding-left: 10px;
	}
	&.aligncenter .wp-caption-text {
		padding-left: 10px;
	}
}

footer.entry-meta {
    @include site-width;
}
.entry-meta {
	margin-top: 20px;
}

.edit-link {
    margin-top: 15px;
}

.site-main [class*="navigation"] {
	@include site-width;
    padding: 50px 0;
}