/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
    background: #333;
    
    .entry-title a {
        color: #fff;
        padding-bottom: 2px;
        
        &:hover {
            border-color: #fff;
            color: #fff;
        }
    }
    
    .entry-subtitle a {
        color: #aaa;
        
        &:hover {
            border-color: #999;
            color: #aaa;
        }
    }
    
    * {
        color: #fff;
    }
}

.hentry {
	clear: both;
	margin: 0;
    padding: 50px 0;
    position: relative;
    
    &:after {
        background: rgba(0, 0, 0, .15);
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        @include site-width;
    }
    
    .single &:after {
        display: none;
    }
    
	.single &,
	.page & {
        border: 0;
        padding: 0;
    }
    
    &:first-child {
        margin-top: 80px;
        
        .cover ~ & {
            margin: 0;
        }
    }
}

.entry {
    &-header {
        @include site-width;
        
        .span {
            color: #b6b6b6;
        }
    }
    
    &-title {
        @include rem(font-size, 30px);
        margin: 0;

        a {
            color: $text-color-heading;
            padding: 10px 0;
            position: relative;

            &:hover {
                border-color: transparent;
                color: $link-color;
            }
        }
    }
    
    &-subtitle {
        @include rem(font-size, 20px);
        color: #999;
        margin: 0;

        a {
            color: #999;

            &:hover {
                color: $link-color;
            }
        }
    }
    
    &-summary {
        > * {
            @include site-width;
        }
		
		p {
            margin: 1.5em auto 0;
            
            &:first-child {
                margin-top: 0;
            }
        }
        
        .tiled-gallery {
            margin-top: 30px;
        }
    }
    
    &-content {
        
        > h1, 
        > h2, 
        > h3, 
        > h4, 
        > h5, 
        > h6, 
        > div, 
        > span, 
        > p, 
        > ul, 
        > ol, 
        > blockquote, 
        > pre, 
        > hr, 
        > form, 
        > iframe, 
        > address, 
        > table, 
        > dl {
            @include site-width;
        }
        
        > ul,
        > ol {
            list-style-position: inside;
        }
        
        > section > h2,
		> section > h3,
        > section > p {
            @include site-width;
        }
        
        > :first-child {
			margin-top: 60px;
		}
		
        > p:first-child,
		> p:first-of-type,
		> p:first-child:empty + p,
		> p:first-of-type:empty + p,
        p.lead {
			color: #1d1d1d;
            font-weight: bold;
			
            a:hover {
				border-width: 2px;
			}
		}
		
        > hr {
            max-width: 250px;
        }
        
        > blockquote {
            
            &.large {
                @include rem(font-size, 30px);
                border: 0;
                max-width: $width-wide;
                padding: 0;
                position: relative;
                text-align: center;
            }
            
            &.pullquote {
                border: 0;
                @include rem(font-size, 30px);
                max-width: $width-narrow;
                padding: 0;
                text-align: center;
                
                &.left {
                    float: left;
                    text-align: left;
                }
                
                &.right {
                    float: right;
                    text-align: right;
                }
                
                &.left,
                &.right {
                    margin: 10px 30px;
                    width: 400px;
                    
                    @media screen and (max-width: 768px) {
                        float: none;
                        text-align: center;
                        @include site-width($width-narrow);
                    }
                }
            }
        }
        
        > .tiled-gallery {
            margin: 30px 0;
            max-width: 100%;
            width: 100%;
        }
    }
    
	&-meta {
		margin-top: 30px;
        
        .avatar {
            margin-right: 5px;
        }
	}
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-summary {
	margin: 1.5em 0 0;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

footer.entry-meta {
    @include site-width;
}

/*--------------------------------------------------------------
10.4 Page Errors
--------------------------------------------------------------*/

.not-found {
    @include site-width;
}

/*--------------------------------------------------------------
10.5 Tags
--------------------------------------------------------------*/

ul.categories,
ul.tags {
	display: inline;
    list-style: none;
    margin: 0;
    
    li {
        display: inline-block;
        margin: 0 15px 15px 0;
    }
	
	a {
		@include button;
	}
}

ul.categories a {
	@include bg-color-hover($color-blue);
}

/*--------------------------------------------------------------
10.6 Modules
--------------------------------------------------------------*/
.twitter-tweet {
	margin-left: auto !important;
	margin-right: auto !important;
}
