.cover {
	position: relative;
	padding: 80px 0;
	padding: 156px 0 0;
	overflow: hidden;
	z-index: 400;
	&-header {
		@include site-width;
		position: relative;
		h1 {
			@include rem(font-size, 50px);
			line-height: 86px;
			margin: 0;
			a {
				color: $text-color-heading;
				font-weight: normal !important;
			}
			.page & {
				margin-bottom: 0;
			}
			@media screen and (max-width: 768px) {
				@include rem(font-size, 40px);
				line-height: 50px;
			}
		}
		h2 {
			color: #999;
			margin: 0;
			@media screen and (max-width: 768px) {
				@include rem(font-size, 22px);
			}
			a {
				color: #999;
				&:hover {
					color: #aaa;
				}
			}
		}
		a:hover {
			border-color: $link-border-color;
		}
	}
	&.featured-image {
		background-color: #2b2b2b;
		color: #fff;
        padding: 200px 0;
		@media screen and (max-width: 768px) {
			//padding-bottom: 50px;
		}
        height: 100%;
		&.half {
            height: 50%;
			padding: 0;
			margin-bottom: 50px;
        }
        &.auto {
            height: auto;
        }
        .background {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			opacity: .6;
			background-size: cover;
			background-attachment: fixed;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			@include transition(opacity 200ms);
			&.darken {
				opacity: 0.1;
			}
		}
        header {
            top: 30%;
            @media screen and (max-width: 768px) {
                top: auto;
            }
        }
		h1 {
			@include rem(font-size, 58px);
			color: #fff;
			text-shadow: 0 0 30px rgba(0,0,0,.8);
			@media screen and (max-width: 768px) {
				@include rem(font-size, 40px);
			}
            a {
                color: #fff;
            }
		}
		h2 {
			color: rgba(255,255,255,0.8);
			a {
				color: rgba(255,255,255,0.8);
				&:hover {
					color: #fff;
				}
			}
		}
		p {
			color: #fff;
		}
		a {
			color: #fff;
			&:hover {
				border-bottom: 2px solid rgba(255,255,255,0.2);
			}
		}
		.taxonomy-description {
			margin-top: 80px;
			padding-top: 50px;
			border-top: 1px solid #fff;
			border-color: rgba(255, 255, 255, 0.25);
			p {
				margin-bottom: 0;
			}
		}
		.search {
			&-form {
				@include site-width($narrow);
				margin-top: 60px;
			}
			&-field {
				width: 100%;
				padding: 10px;
				@include border-radius(0);
				@include box-sizing(border-box);
			}
		}
	}
}

.home {
    .cover {
        header {
            text-align: center;
            h2 {
                margin-top: 50px;
                padding-top: 50px;
                border-top: 1px solid #fff;
                border-color: rgba(255, 255, 255, 0.35);
            }
            .taxonomy-description {
                text-align: left;
            }
        }
    }
}

.archive,
.search,
.error404 {
    .cover {
        header {
            h1 {
                text-align: center;
            }
            .site-description {
                margin-top: 50px;
                padding-top: 50px;
                border-top: 1px solid #fff;
                border-color: rgba(255, 255, 255, 0.25);
            }
        }
    }
}

.archive .cover.featured-image.auto {
	padding-bottom: 100px;
}