.cover {
	background-color: $background-color-cover;
    color: #fff;
    overflow: hidden;
    padding: 156px 0 80px;
    position: relative;
	transition: opacity .25s;
	z-index: $z-index-cover;
	
	&-header {
		@include site-width;
		position: relative;
		
        p {
            color: #fff;
        }
        
		a {
            color: #fff;
            
            &:hover {
                border-color: $link-border-color;
            }
        }
        
        .taxonomy-description {
			border-top: 1px solid rgba(255, 255, 255, .25);
            margin-top: 20px;
			
            p {
				margin-bottom: 0;
			}
		}
        
		.search {
			
            &-form {
				margin-top: 60px;
                @include site-width($width-narrow);
			}
			
            &-field {
				border: 0;
				border-radius: 0;
                box-sizing: border-box;
                padding: 10px;
                width: 100%;
			}
		}
	}
    
    &-title {
        color: #fff;
        @include rem(font-size, 58px);
        line-height: 86px;
        margin: 0;
        
        a {
            color: #fff;
            font-weight: normal !important;
        }

        .page & {
            margin-bottom: 0;
        }

        @media screen and (max-width: $width-tablet) {
            @include rem(font-size, 40px);
            line-height: 50px;
        }
    }
    
    &-subtitle,
	&-summary {
        color: rgba(255, 255, 255, .8);
        @include rem(font-size, 26px);
        margin: 0;
        
        a {
            color: rgba(255, 255, 255, .8);

            &:hover {
                color: #fff;
            }
        }

        @media screen and (max-width: $width-tablet) {
            @include rem(font-size, 20px);
        }
    }
	
	&-summary {
		border-top: 1px solid rgba(255, 255, 255, .35);
		margin-top: 20px;
		padding-top: 30px;
	}
    
	.background {
		background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0;
        opacity: .6;
        position: absolute;
        top: 0;
        transition: opacity 200ms;
        width: 100%;
		
		&.skrollable {
			background-attachment: fixed;
		}
		
        &.darken {
            opacity: .1;
        }
	}
    
	&.featured-image {
		background-color: $color-dark-grey !important; // needs to override accent colors
		
		&.hero,
		&.full {
			padding: 200px 0;
		}
		
        &.full {
			height: 100vh;
			
			@media screen and (max-width: $width-tablet) {
				height: auto;
			}
			
			.cover-header {
				top: 30%;

				@media screen and (max-width: $width-tablet) {
					top: auto;
				}
			}
		}
	}
}
