.cover {
	background-color: #2b2b2b;
    color: #fff;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 156px 0 80px;
    position: relative;
	z-index: 400;
	
    &-header {
		@include site-width;
		position: relative;
		
        p {
            color: #fff;
        }
        
		a {
            color: #fff;
            
            &:hover {
                border-color: $link-border-color;
            }
        }
        
        .taxonomy-description {
			border-top: 1px solid rgba(255, 255, 255, .25);
            margin-top: 80px;
			padding-top: 50px;
			
            p {
				margin-bottom: 0;
			}
		}
        
		.search {
			
            &-form {
				margin-top: 60px;
                @include site-width($narrow);
			}
			
            &-field {
				@include border-radius(0);
                @include box-sizing(border-box);
                padding: 10px;
                width: 100%;
			}
		}
        
        #main & {
            margin: 50px auto;
        }
	}
    
    &-title {
        color: #fff;
        @include rem(font-size, 58px);
        line-height: 86px;
        margin: 0;
        text-shadow: 0 0 30px rgba(0, 0, 0, .8);

        a {
            color: #fff;
            font-weight: normal !important;
        }

        .page & {
            margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
            @include rem(font-size, 40px);
            line-height: 50px;
        }
    }
    
    &-subtitle {
        color: rgba(255, 255, 255, .8);
        margin: 0;

        a {
            color: rgba(255, 255, 255, .8);

            &:hover {
                color: #fff;
            }
        }

        @media screen and (max-width: 768px) {
            @include rem(font-size, 22px);
        }
    }
    
	&.featured-image {
		height: 100%;
        padding: 200px 0;
        
        @media screen and (max-width: 768px) {
            height: auto;
        }
        
        &.auto {
            height: auto;
        }
        
        .background {
			background-attachment: fixed;
			background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            left: 0;
            opacity: .6;
            position: absolute;
			top: 0;
			@include transition(opacity 200ms);
            width: 100%;
			
            &.darken {
				opacity: .1;
			}
		}
        
        .cover-header {
            top: 30%;
            
            @media screen and (max-width: 768px) {
                top: auto;
            }
        }
	}
}

.home .cover,
.blog .cover {
    padding: 200px 0;

    &-header {
        text-align: center;

        .taxonomy-description {
            text-align: left;
        }
    }

    &-subtitle {
        border-top: 1px solid rgba(255, 255, 255, .35);
        margin-top: 50px;
        padding-top: 50px;
    }
}

.archive .cover,
.search .cover,
.error404 .cover {
    &-title {
        text-align: center;
    }
    
    .site-description {
        border-top: 1px solid rgba(255, 255, 255, .25);
        margin-top: 50px;
        padding-top: 50px;
    }
}

.archive .cover.featured-image.auto {
	padding-bottom: 100px;
}
