#colophon {
    color: #666;
    @include rem(font-size, 13px);
    padding: 30px 0;
    
    .site-info {
        @include site-width;
        text-align: center;
    }
    
    a:hover {
        border-color: $link-border-color;
    }
}
