#colophon {
    padding: 30px 0;
    color: #666;
    @include rem(font-size, 13px);
    .site-info {
        @include site-width;
        text-align: center;
    }
    a {
        &:hover {
            border-color: $link-border-color;
        }
    }
}