#colophon {
    padding: 30px 0;
    background: #333;
    color: #666;
    @include rem(font-size, 13px);
    .site-info {
        @include site-width;
        text-align: center;
    }
    a {
        color: #fff;
        &:hover {
            color: $link-color;
        }
    }
}