/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

.header {
    @include rem(font-size, 24px);
    color: #fff;
	padding: 0 20px;
    position: absolute;
    width: 100%;
    z-index: $z-index-header;
	
    @media screen and (max-width: 768px) {
        position: absolute;
    }
    
	.backdrop {
		background-color: $color-dark-grey;
		bottom: 0;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: $z-index-header-backdrop;
		
		.noscroll & {
			background-color: transparent !important;
		}
	}
	
	&.bg .backdrop {
		opacity: 1;
	}
	
    a {
        color: #fff;
        
        &:hover {
            border-color: #fff;
        }
    }
    
    .site {
        &-info {
			transition: opacity 200ms;
        }
		
		&-nav {
			float: right;
			margin: 20px 0;
		}
        
        &-logo {
			transition: opacity 200ms;
			
            &:hover {
                border-color: transparent;
            }
            
            img {
                height: 47px;
                margin: 15px 15px 15px 0;
				vertical-align: bottom;
				
				@media screen and (max-width: 768px) {
					margin-bottom: 0;
					margin-right: 10px;
				}
            }
        }
		
		&-title {
			display: inline-block;
			margin: 20px 0;

			@media screen and (max-width: 768px) {
				margin-bottom: 5px;
			}
		}
        
        &-description {
            border: 0 solid rgba(255, 255, 255, .25);
            border-left-width: 1px;
            color: #fff;
            @include rem(font-size, 14px);
            margin-left: 20px;
            padding-left: 20px;
            transition: all .2s ease-in-out;
			vertical-align: middle;
			
			&:empty {
				display: none;
			}
            
            @media screen and (max-width: 768px) {
                border-left-width: 0;
				border-top-width: 1px;
                display: block;
				margin: 10px 0 0;
				padding: 10px 0 0;
            }
        }
    }
    
    .avatar {
        margin-right: 5px;
    }

    .author:hover {
        border-color: transparent;
		
		.name {
			border-color: #fff;
		}
    }
	
	.noscroll & {
		pointer-events: none;
		
		.site-info {
			opacity: 0;
		}
	}
}

/*--------------------------------------------------------------
Search
--------------------------------------------------------------*/

.site-search {
	border: 0;
	margin-right: 20px;
	
	.noscroll & {
		opacity: 0;
	}
}

/*--------------------------------------------------------------
Nav menu, which animates into close x
--------------------------------------------------------------*/

.hamburger {
	border: 0;
    display: inline-block;
	height: 30px;
    margin: 1px auto -15px;
    padding-top: 5px;
    width: 28px;
	
    span {
        display: block;
        position: relative;
        
        &:before,
        &:after {
            content: '';
            left: 0;
            position: absolute;
            top: -9px;
        }
        
        &:after {
            top: 9px;
        }
    }
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
	backface-visibility: hidden;
	background-color: #fff;
	border-radius: 2px;
	height: 5px;
    transition: all .5s;
	width: 100%;
    
    @media screen and (max-width: 768px) {
		transition: none;
	}
}

.noscroll .hamburger {
    margin-right: 18px;
    pointer-events: auto;
    transform: translate3d(0, 3px, 0);
	
    @media screen and (max-width: 768px) {
        margin-right: 0;
    }
    
	span {
		background-color: transparent !important;
	}
	
	span:before,
	span:after {
		background-color: #fff !important;
	}
	
    span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }
}
