/*--------------------------------------------------------------
Headroom.js
--------------------------------------------------------------*/

@media screen and (min-width: 769px) {
    .header.headroom {
		position: fixed;
        transition: all .5s;
		
		&--pinned {
            transform: translateY(0);
        }
        
        &--unpinned {
			transform: translateY(-100%);
				
			.noscroll & {
				transform: translateY(0);
			}
        }
    }
}

.back-to-top.headroom {
	&--not-top {
		transform: translate3d(0, -79px, 0);
	}
	
	&--pinned {
		transform: translate3d(0, 0, 0);
	}
}
