/*--------------------------------------------------------------
Jetpack
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Infinite Scroll
--------------------------------------------------------------*/

body #infinite-handle { // increased specificity to override jetpack's css
	padding: 50px 0;
	text-align: center;
	
    span {
		@include button($color-blue);
	}
}

.infinite-loader {
	margin: 50px 0;
	
    .spinner {
		margin: 0 auto;
	}
}

#infinite-footer {
	display: none; // I don't like the infinite scroll footer
}

/*--------------------------------------------------------------
Related Posts
--------------------------------------------------------------*/

.entry-content .jp-relatedposts {
	@include site-width;
	margin-left: auto !important;
	margin-right: auto !important;
}

.jp-relatedposts-post {
	transition: opacity .2s; // I reject your reality, and substitute my own!
}
