#lasso--featImgControls {
    bottom: 0;
    position: absolute;
    top: auto;
}

.lasso--controls__center,
.lasso--toolbar_wrap,
.lasso--toolbar_wrap.toolbar-extended {
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
}
