/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.avatar {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

// Make sure embeds and iframes fit their containers
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	border: 0;
    margin-bottom: 1.5em;
	max-width: 100% !important; // overrides .entry-content > div
    padding: 0;
	position: relative;
    
    img[class*="wp-image-"] {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    
    &-text {
        text-align: center;
    }
    
    .wp-caption-text {
        @extend %image-caption;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        @media screen and (max-width: 768px) {
            width: 90%;
        }
    }
    
    &.aligncenter {
        margin: 40px auto;
		max-width: 100%;
        padding: 0;
		width: auto;
        
        .wp-caption-text {
            @media screen and (max-width: 768px) {
                text-align: center;
                width: 90%;
            }
        }
    }
    
    &.alignleft,
    &.alignright {
        margin: 10px 30px;
		max-width: 45%;
        padding: 0;
		@media screen and (max-width: 768px) {
			float: none;
            margin: 40px auto;
            max-width: none;
            width: auto !important;
		}
    }
    
	&.alignleft .wp-caption-text {
        text-align: left;
		@media screen and (max-width: 768px) {
            text-align: center;
            width: 90%;
        }
	}
    
    &.alignright .wp-caption-text {
        text-align: right;
		@media screen and (max-width: 768px) {
            text-align: center;
            width: 90%;
        }
	}
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
    
    &-item {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 100%;
        
        .gallery-columns-2 & {
            max-width: 50%;
        }

        .gallery-columns-3 & {
            max-width: 33.33%;
        }

        .gallery-columns-4 & {
            max-width: 25%;
        }

        .gallery-columns-5 & {
            max-width: 20%;
        }

        .gallery-columns-6 & {
            max-width: 16.66%;
        }

        .gallery-columns-7 & {
            max-width: 14.28%;
        }

        .gallery-columns-8 & {
            max-width: 12.5%;
        }

        .gallery-columns-9 & {
            max-width: 11.11%;
        }
    }
    
    &-caption {
        /*! */
    }
    
}
