/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
    color: $link-color;
	text-decoration: none;
	border-bottom: 2px solid transparent;
    @include transition(all .2s ease-in-out);
    &:visited {
        color: $link-color;
    }
    &:hover,
    &:focus,
    &:active {
        color: $link-color-hover;
    }
    &:hover {
        text-decoration: none;
        color: $link-color-hover;
        p &,
        .info &,
        .edit-link & {
            border-color: $link-border-color;
        }
    }
    &.block {
        display: block;
        color: #686868;
        font-weight: 600;
        text-align: center;
        border: 2px solid #c3c2c9;
        @include border-radius(4px);
        &:hover {
            border: 2px solid #0066d9;
            background: #0066d9;
            color: #fff;
        }
    }
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	&.toggled {
        .nav-menu {
            @media screen and (max-width: 600px) {
                display: block;
            }
        }
    }
    clear: both;
	display: block;
	float: left;
	width: 100%;
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 1.5em;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover {
                    & > ul {
                        left: 100%;
                    }
                    & > a {}
                }
            }
            a {
                width: 200px;
                &:hover {}
            }
        }
        li {
            &:hover {
                &  > ul {
                    left: auto;
                }
            }
        }
        @media screen and (max-width: 600px) {
            display: none;
        }
    }
    li {
        float: left;
        position: relative;
        &:hover {
            & > a {}
        }
    }
    a {
        display: block;
        text-decoration: none;
    }
    .current_page_item {
        a {}
    }
    .current-menu-item {
        a {}
    }
}
/* Small menu */
.menu-toggle {
	display: none;
    @media screen and (max-width: 600px) {
        display: block;
    }
}

.site-main {
    .comment-navigation,
    .paging-navigation,
    .post-navigation {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
}

.nav-previous,
.nav-next {
    .comment-navigation &,
    .paging-navigation &,
    .post-navigation & {
        float: left;
        width: 50%;
    }
    .paging-navigation & a {
        @include button;
        span {
            @media screen and (max-width: 405px) {
                display: none;
            }
        }
    }
}
.nav-next {
    .comment-navigation &,
    .paging-navigation &,
    .post-navigation & {
        float: right;
        text-align: right;
    }
}

/* fancy schmancy post nav */
.post-nav-container {
	display: inline-block;
	position: relative;
	width: 120px;
	height: 120px;
	vertical-align: middle;
	background-color: #2b2b2b;
	@include border-radius(50%);
	.post-nav-background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
        background-position: 50%;
		z-index: 0;
		opacity: 0.6;
		@include border-radius(50%);
        @include transition(all 200ms);
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            margin: auto;
            background: #fff;
            @include border-radius(50%);
            @include transition(all 200ms);
        }
        a:hover & {
            opacity: 1;
            &:after {
                width: 100px;
                height: 100px;
            }
        }
	}
}

.post-navigation {
	a {
		i.fa {
			color: #fff;
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 30px;
			font-size: 200%;
			text-align: center;
		}
		span {
			position: relative;
			padding: 4px 0;
			color: #666;
			border-bottom: 2px solid transparent;
			margin: 0 15px;
			@include transition(all 200ms);
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		&:hover {
			span {
				border-color: #ccc;
			}
            i.fa {
                color: #333;
            }
		}
	}
}

/*--------------------------------------------------------------
5.3 Header
--------------------------------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    padding: 20px;
    @include rem(font-size, 24px);
    @include transition(all 200ms);
    z-index: 500;
    @media screen and (max-width: 768px) {
        position: absolute;
    }
    &.headroom {
        @include transition(all 200ms linear);
        &--pinned {
            @include transform(translateY(0));
        }
        &--unpinned {
            @include transform(translateY(-100%));
        }
        &--top {
            position: absolute;
        }
        &--not-top {
            position: fixed;
            background: #fff;
            background: rgba(255, 255, 255, 0.95);
            @include box-shadow(0 0 1px rgba(0, 0, 0, 0.15));
        }
    }
	.has-featured-image & {
        background: transparent;
        @include box-shadow(none);
        &.headroom {
            &--not-top {
                background: #fff;
                background: rgba(255, 255, 255, 0.95);
                @include box-shadow(0 0 1px rgba(0, 0, 0, 0.15));
                a {
                    color: #000;
                    &:hover {
                        color: $link-color;
                    }
                }
                .tagline {
                    color: #777;
                }
            }
        }
    }
    a {
        color: #000;
        &:hover {
            color: $link-color;
        }
        .has-featured-image & {
            color: #fff;
        }
    }
    .tagline {
        @include rem(font-size, 18px);
        margin-left: 20px;
        padding-left: 20px;
        color: #777;
        border-left: 1px solid #ccc;
        .has-featured-image & {
            color: #fff;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

/*--------------------------------------------------------------
5.4 Overlay for menus and widgets
--------------------------------------------------------------*/

.overlay {
    position: fixed;
    overflow: auto;
    background: #333;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    @include rem(font-size, 20px);
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 200ms);
    a {
        color: #fff;
    }
    .main-navigation {
        @include site-width($narrow);
        margin-top: 60px;
        float: none;
        ul {
            display: block;
            ul {
                position: static;
                float: none;
                box-shadow: none;
                margin-left: 40px;
                a {
                    width: auto;
                }
            }
        }
        li {
            float: none;
        }
        a {
            border-color: #666;
            border-width: 1px;
            padding: 10px 5px;
            &:hover {
                color: $link-color;
            }
        }
    }
    .search-form {
        input.search-field {
            width: 100%;
            padding: 10px;
            @include border-radius(0);
            @include box-sizing(border-box);
        }
    }
    .social-navigation {
        @include site-width;
        margin-bottom: 60px;
        text-align: center;
        ul {
            list-style: none;
            ul {
                display: none;
            }
        }
        li {
            display: inline-block;
            margin: 20px;
        }
        a {
            border: 0;
        }
    }
    .widget-area {
        margin-top: 60px;
        margin-bottom: 60px;
        color: #ccc;
        .widget {
            @include site-width($narrow);
            margin-bottom: 60px;
            &.widget_tag_cloud {
                //max-width: $medium;
            }
            &-title {
                color: #999;
                @include rem(font-size, 30px);
                margin-bottom: 15px;
            }
            ul {
                list-style: none;
                margin-left: 0;
                ul {
                    margin-left: 40px;
                }
            }
            li {
                a {
                    display: block;
                    border-color: #666;
                    border-width: 1px;
                    padding: 10px 5px;
                }
            }
            a {
                &:hover {
                    color: $link-color;
                }
            }
            &_tag_cloud {
                .widget-title {
                    @include site-width($narrow);
                }
            }
            .tagcloud {
                text-align: center;
            }
        }
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    &-close {
        position: fixed;
        margin: 20px;
        @include rem(font-size, 24px);
        color: #fff;
        z-index: 1;
        &.right {
            right: 15px;
			@media screen and (max-width: 768px) {
				right: 0;
			}
        }
        &:visited {
            color: #fff;
        }
    }
}

/*--------------------------------------------------------------
5.5 Jetpack Infinite Scroll
--------------------------------------------------------------*/

/*

#infinite-handle {
	padding: 50px 0;
	text-align: center;
	span {
		@include button;
	}
}

.infinite-loader {
	margin: 50px 0;
	.spinner {
		margin: 0 auto;
	}
}

*/