/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
    border-bottom: 1px solid transparent;
	color: $link-color;
	text-decoration: none;
	@include transition(all .2s ease-in-out);
    
	b &,
    strong & {
        border-width: 2px;
    }
    
	&:visited {
        color: $link-color;
    }
    
	&:hover,
    &:focus,
    &:active {
        color: $link-color-hover;
    }
    
	&:hover {
        color: $link-color-hover;
		text-decoration: none;
        
		.entry-summary &,
        .entry-content &,
        .edit-link &,
        .entry-meta & {
            border-color: $link-border-color;
        }
    }
	
    &.block {
        @include border-radius(4px);
		border: 2px solid #c3c2c9;
		color: #686868;
		display: block;
        font-weight: 600;
        text-align: center;
        
		&:hover {
            background: #0066d9;
			border: 2px solid #0066d9;
            color: #fff;
        }
    }
}

.author a {
    .name {
        border-bottom: 1px solid transparent;
        @include transition(border .2s ease-in-out);
    }
	
    &:hover {
        border-color: transparent;
        
		.name {
            border-color: $link-border-color;
        }
    }
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
    
	&.toggled {
        .nav-menu {
            @media screen and (max-width: 600px) {
                display: block;
            }
        }
    }
	
	ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        
        &.hide {
            display: none;
        }
    }
	
    li {
        position: relative;
    }
	
    a {
        display: block;
        text-decoration: none;
    }
    
	.sub-menu-toggle {
        color: #fff;
		cursor: pointer;
		@include rem(font-size, 30px);
		height: 59px;
		position: absolute;
        right: 0;
		top: 0;
        width: 60px;
        
		&:hover {
            background: #666;
        }
        
		.fa {
            bottom: 0;
			height: 30px;
			left: 0;
			margin: auto;
			position: absolute;
            right: 0;
            text-align: center;
			top: 0;
        }
    }
}

.site-main .comment-navigation,
.site-main .paging-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
    padding: 50px 0;
    @include site-width($wide);
}

.paging-navigation a {
    @include button;

    @media screen and (max-width: 405px) {
        display: block;
        margin-bottom: 10px;
        text-align: center;
        width: auto;
    }
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous {
	float: left;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next {
	float: right;
	text-align: right;
}

@media screen and (max-width: 405px) {
	.comment-navigation .nav-previous,
	.paging-navigation .nav-previous,
	.comment-navigation .nav-next,
	.paging-navigation .nav-next {
		float: none;
		width: auto;
	}
}

.post-navigation {
    background: #eee;
    margin-top: 50px;
    padding-top: 50px;
    
    a:hover .cover {
        opacity: .9;
    }
    
    [class$="title"] {
        margin: 0 0 30px;
    }
    
    [class$="subtitle"] {
        border-bottom: 1px solid rgba(255, 255, 255, .35);
        margin: 0 0 20px;
        padding-bottom: 20px;
    }
    
    .nav-previous {
        margin-bottom: 50px;
        @include site-width;
        
        .subtitle {
            border-color: rgba(0, 0, 0, .1);
            color: rgba(0, 0, 0, .5);
            @include rem(font-size, 20px);
            margin-bottom: 15px;
            padding-bottom: 15px;
        }
        
        .title {
            color: rgba(0, 0, 0, .6);
            @include rem(font-size, 40px);
        }
    }
    
    .cover {
        margin: 0;
        padding: 20px 0 80px;
        @include transition(opacity .25s);
        
        .background {
            background-attachment: scroll;
        }
    }
}
