/*--------------------------------------------------------------
Overlay for menus and widgets
--------------------------------------------------------------*/

.overlay {
	background: #333;
    @include rem(font-size, 20px);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
	padding: 60px 0;
    position: fixed;
    right: 0;
    transition: opacity 200ms;
    visibility: hidden;
    z-index: $z-index-overlay;
	
	a {
        color: #fff;
        width: auto;
        
        &:hover {
            background: #666;
        }
    }
    
    .widget {
        
        &-area {
            color: #ccc;
            margin-bottom: 60px;
            margin-top: 60px;
        }
        
        li a {
            border-color: #666;
        }
    }
    
    .tag-cloud a:hover {
        border-color: #fff;
    }
    
    .menu {
        list-style: none;
        margin: 0;
        padding-left: 0;
        
        a {
            border-color: #666;
            border-width: 1px;
            padding: 10px 15px;
        }
    }
    
    .main-navigation,
    .social-navigation {
        float: none;
        margin-bottom: 60px;
        margin-top: 60px;
        @include site-width($width-narrow);
    }
    
    .social-navigation {
        text-align: center;
    }
    
    .search-form input.search-field {
        border-radius: 0;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
    }
    
    &.show {
        opacity: 1;
        visibility: visible;
    }
	
	&-search {
		.search {
			&-form {
				display: table;
				height: 100%;
				width: 100%;
				
				input.search-field {
					@include site-width($width-wide);
				}
			}
			
			&-field {
				background-color: transparent;
				border: 0;
				color: #fff;
				display: block;
				@include rem(font-size, 50px);
				outline: 0;
				
				@media screen and (max-width: 768px) {
					@include rem(font-size, 30px);
				}
				
				&:focus {
					color: #fff;
				}
			}
		}
		
		label {
			display: table-cell;
			vertical-align: middle;
		}
	}
}
