/*--------------------------------------------------------------
Overlay for menus and widgets
--------------------------------------------------------------*/

.overlay {
	@include rem(font-size, 20px);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
	padding: 60px 0;
    position: fixed;
    right: 0;
    transition: opacity 200ms;
    visibility: hidden;
    z-index: $z-index-overlay;
    
    &:target {
        opacity: 1;
        visibility: visible;
        z-index: $z-index-header;
    }
    
    &-search {
        .search {
			&-form {
				display: table;
				height: 100%;
				width: 100%;
				
				input.search-field {
					@include site-width($width-wide);
				}
			}
			
			&-field {
				background-color: transparent;
				border: 0;
				display: block;
				@include rem(font-size, 50px);
				outline: 0;
				
				@media screen and (max-width: $width-tablet) {
					@include rem(font-size, 30px);
				}
			}
		}
		
		label {
			display: table-cell;
			vertical-align: middle;
		}
	}
    
    &-icon {
        bottom: 0;
        font-size: 50vh;
        height: 50%;
        left: 0;
        line-height: 50vh;
        margin: auto;
        position: fixed;
        right: 0;
        text-align: center;
        top: 0;
        z-index: -1;
    }
    
    &.show {
        opacity: 1;
        visibility: visible;
    }
    
    .widget {
        &-area {
            margin-bottom: 60px;
            margin-top: 60px;
        }
    }
    
    &-dark {
        background: $overlay-color-dark;
        
        a {
            border-color: #fff;
            color: #fff;

            &:hover {
                color: #aaa;
            }
        }
        
        .widget {
            &-area {
                color: #ccc;
                
                p {
                    color: #fff;
                }
            }

            li a {
                border-color: #666;
            }
        }
        
        .main-navigation a {
            border-bottom-color: #666;
        }
        
        .tagcloud a {
            border-color: transparent;

            &:hover {
                border-color: #fff;
                color: #fff;
            }
        }
        
        .sub-menu-toggle {
            color: #fff;
            
            &:hover {
                background-color: #666;
            }
        }
        
        .search-field,
        .search-field:focus {
            color: #fff;
        }
    }
    
    &-light {
        background: $overlay-color-light;
        
        .overlay-icon {
            opacity: 0.05;
        }
    }
    
    .header {
        margin-top: -60px;
    }
    
    .menu {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    
    .main-navigation,
    .social-navigation {
        float: none;
        margin-bottom: 60px;
        margin-top: 60px;
        @include site-width($width-narrow);
    }
    
    .social-navigation {
        text-align: center;
        
        a {
            color: #fff;
        }
    }
    
    .search-form input.search-field {
        border-radius: 0;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
    }
}
