.profile {
	text-align: center;
	
    .single & {
        padding: 30px 0 60px;
    }
	
    h4 {
		margin: 10px 0;
	}
	
    p {
		margin: 0 0 15px;
	}
	
    .avatar {
		border-radius: 50%;
        display: block;
        margin: auto;
    }
	
    &-social {
		margin-top: 10px;
		@include social-icon;
		
        a {
            color: #fff;
            
            &:hover {
                border-color: transparent;
                
                .fa-circle {
                    color: #ddd !important;
                }
            }
        }
	}
}
