.postprofile {
	overflow: hidden;
	padding: 30px 0;
	margin: 30px 0 50px;
	border-top: 1px solid $divider-color;
	border-bottom: 1px solid $divider-color;
    .cover & {
        margin: 0;
        border: none;
    }
    .avatar {
        display: block;
        float: left;
        width: 12%;
        height: 12%;
        @include border-radius(50%);
    }
    .info {
        width: 82%;
        display: block;
        float: right;
    }
    h4 {
        margin: 0 0 15px;
    }
    p {
        margin: 15px 0;
        font: 400 14px $font-stack-content;
        line-height: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}