.profile {
	padding: 30px 0;
	text-align: center;
	.avatar {
        display: block;
        margin: auto;
        @include border-radius(50%);
		&-container {
			margin-bottom: 20px;
		}
    }
	h4 {
        margin: 0 0 15px;
    }
    p {
        margin: 15px 0;
        font: 400 14px $font-stack-content;
        line-height: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
	&-social {
		@include social-icon;
		a:hover {
			border-color: transparent;
			.fa-circle {
				color: #ccc;
			}
		}
	}
}