.swiper-slide {
	width: 100%;
	height: 450px;
}

.swiper-container {
    @extend .swiper-slide;
    .fa-angle-left {
        @include swiper-arrow;
        left: 0;
    }
    .fa-angle-right {
        @include swiper-arrow;
        right: 0;
    }
}

.swiper-pagination {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	text-align: center;
	cursor: pointer;
	@include transition(background 200ms);
	@include user-select(none);
	display: none;
	@media screen and (max-width: 920px) {
		display: block;
	}
	.swiper-pagination-switch {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 3px solid #fff;
		margin-left: 20px;
		@include border-radius(50%);
		@include user-select(none);
		&:first-child {
			margin: 0;
		}
		&.swiper-active-switch {
			background: #fff;
		}
	}
}