/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: $text-color-base;
	font-family: $font-stack-content;
    @include rem(font-size, $font-size-normal);
	line-height: 1.5;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	clear: both;
}

h1, 
h2, 
h3, 
h4 {
	color: $text-color-heading;
    @include rem(font-size, 24px);
	margin: 30px 0;
}

h1 {
    font-family: $font-stack-heading;
    @include rem(font-size, 58px);
}

h2 {
	margin-bottom: 20px;
    @include rem(font-size, 26px);
}

h3, 
h4 {
	margin: 20px 0 10px;
    @include rem(font-size, 22px);
}

h4 {
    @include rem(font-size, 20px);
}

ol,
ul {
    line-height: 38px;
}

p {
	color: $text-color-content;
    line-height: 38px;
	margin: 30px 0;
    word-wrap: break-word;
    
    img {
        margin: 30px 0;
		
        &.alignleft,
		&.alignright {
			margin: 10px 0 0;
			max-width: 50%;
		}
		
        &.alignleft {
			margin-right: 15px;
		}
		
        &.alignright {
			margin-left: 15px;
		}
    }
}

b, 
strong {
	font-weight: bold;
}

dfn, 
cite, 
em, 
i {
	font-style: italic;
}

blockquote,
q {
	border-left: 3px solid $text-color-quote;
    color: $text-color-quote;
    @include rem(font-size, 22px);
    line-height: 38px;
    margin: 30px 0;
	padding: 5px 0 5px 30px;
    
    cite,
    p {
        border: 0;
        color: $text-color-quote;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    cite {
        color: $text-color-cite;
        font-style: italic;
    }
    
    i,
    em {
        font-style: normal;
    }
}

address {
	margin: 0 0 1.5em;
}

code, 
kbd, 
tt, 
var {
	font: 15px $font-stack-code;
}

code {
    background: #f3f3f3;
	border: 1px solid #e6e6e6;
	margin: 0 5px;
    padding: 2px 6px;
}

pre {
	background: $background-color-code; 
	border: 0;
    color: #fff;
    font-family: $font-stack-code;
    @include rem(font-size, 15px);
	line-height: 28px;
	margin: 40px 0;
    max-width: 100%;
	overflow: auto;
	padding: 25px 35px;
	
    code {
        background: 0;
        border: 0;
        color: #eee;
        display: inline-block;
        line-height: 28px;
        margin: 0;
        padding: 0;
    }
    
}

code .kwd, 
pre .kwd {
    color: #66d9ef;
}

code .pln, 
code .pun, 
pre .pln, 
pre .pun {
    color: #fff;
}

code .str, 
pre .str {
    color: #d64032;
}

code .lit, 
pre .lit {
    color: #ae81ff;
}

abbr, 
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, 
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}
