/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: $text-color-base;
	font-family: $font-stack-content;
    @include rem(font-size, 16px);
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1, h2, h3, h4 {
	margin: 30px 0;
    @include rem(font-size, 24px);
	color: $text-color-heading;
}
h1 {
    font-family: $font-stack-heading;
}
h2 {
	margin-bottom: 20px;
    @include rem(font-size, 26px);
}
h3, h4 {
	margin: 20px 0 10px;
    @include rem(font-size, 22px);
}
h4 {
    @include rem(font-size, 20px);
}
ol,
ul {
    line-height: 38px;
}
p {
	margin: 30px 0;
	line-height: 38px;
	color: $text-color-content;
	word-wrap: break-word;
    img {
        margin: 30px 0;
		&.alignleft,
		&.alignright {
			margin: 10px 0 0;
			max-width: 50%;
		}
		&.alignleft {
			margin-right: 15px;
		}
		&.alignright {
			margin-left: 15px;
		}
    }
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote,
cite,
q {
	margin: 30px 0;
	border-left: 3px solid #c6d5e1;
	padding: 5px 0 5px 30px;
	line-height: 38px;
	color: $text-color-quote;
	@include rem(font-size, 22px);
    cite,
    p {
        margin:0;
        padding:0;
        border: none;
        color: $text-color-quote;
    }
    cite {
        color: $text-color-cite;
        font-style: italic;
    }
    i,
    em {
        font-style: normal;
    }
}
address {
	margin: 0 0 1.5em;
}
code, kbd, tt, var {
	font: 15px $font-stack-code;
}
code {
	padding: 2px 6px;
	margin: 0 5px;
	background: #f3f3f3;
	border: 1px solid #e6e6e6;
}
pre {
	background: #313339;
	font-family: $font-stack-code;
    @include rem(font-size, 15px);
	line-height: 28px;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	border: 0;
	color: #fff;
	margin: 40px 0;
	padding: 25px 35px;
	&.prettyprint {
        line-height: 36px;
        .entry-content & {
            border: 0;
            padding: 25px 35px;
        }
    }
    code {
        display: inline-block;
        padding: 0;
        margin: 0;
        color: #eee;
        line-height: 28px;
        background: 0 0;
        border: 0;
    }
    
}
code .kwd, 
pre .kwd {
    color: #66d9ef;
}
code .pln, 
code .pun, 
pre .pln, 
pre .pun {
    color: #fff;
}
code .str, 
pre .str {
    color: #d64032;
}
code .lit, 
pre .lit {
    color: #ae81ff;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}