$color-blue: #026ed2; // #2196F3 is the Material Design color, but I personally feel it's too light.
$color-red: #f44336;
$color-pink: #e91e63;
$color-purple: #9c27b0;
$color-deep-purple: #673ab7;
$color-indigo: #3f51b5;
$color-light-blue: #03a9f4;
$color-cyan: #00bcd4;
$color-teal: #009688;
$color-green: #4caf50;
$color-light-green: #8bc34a;
$color-orange: #ff9800;
$color-deep-orange: #ff5722;
$color-brown: #795548;
$color-grey: #9e9e9e;
$color-light-grey: #c3c2c9;
$color-dark-grey: #2b2b2b;
$color-blue-grey: #607d8b;

$text-color-base: #3b3b3b;
$text-color-heading: darken($text-color-base, 10%);
$text-color-content: $text-color-base;
$text-color-quote: lighten($text-color-base, 10%);
$text-color-cite: lighten($text-color-base, 25%);

$background-color-cover: $color-blue;
$background-color-cover-neutral: $color-dark-grey;
$background-color-code: $color-dark-grey;

$font-size-normal: 16px;
$font-weight-normal: 400;

$font-stack-content: 'Open Sans', sans-serif;
$font-stack-heading: Montserrat, sans-serif;
$font-stack-code: 'Source Code Pro', monospace;

$link-color: $color-blue;
$link-color-active: darken($link-color, 15%);
$link-border-color: $color-light-grey;

$button-background: #edebf3;
$button-color: #858585;

$width-narrow: 500px;
$width-medium: 760px;
$width-wide: 1000px;

$z-index-above-wp-toolbar: 100000;
$z-index-addthis: 100021;

$z-index-header: 600;
$z-index-header-backdrop: -1;
$z-index-cover: 400;
$z-index-aesop-timeline: 500;
$z-index-overlay: 500;

$divider-color: $color-light-grey;

@function parse-int($n) {
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px : ();
    $rem: ();
    
    @each $value in $values {
        
        @if $value == 0 or $value == auto {
            $px : append($px, $value);
            $rem: append($rem, $value);
        } @else { 
            $unit: unit($value);
            $val: parse-int($value);
            
            @if $unit == 'px' {
                $px : append($px, $value);
                $rem: append($rem, ($val / 10 * 1rem));
            }
            
            @if $unit == 'rem' {
                $px : append($px, ($val * 10 * 1px));
                $rem: append($rem, $value);
            }
        }
    }
    
    /*
	 * Note: this doubles the declarations of font-size, 
     * Unlike multiple declarations of the background property, 
     * css linter tasks do not recognize this as providing a fallback
     * for browsers that do not support the rem property.
	 */
    #{$property}: $px;
    #{$property}: $rem;
}

@mixin site-width($width: $width-medium) {
    margin-left: auto;
    margin-right: auto;
    max-width: $width;
	width: 90%;
}

@mixin button($color: $color-grey) {
	background-color: $color;
	border: 0;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	@include rem(font-size, $font-size-normal);
	line-height: normal;
	padding: 10px 20px;
	text-decoration: none;
	transition: all .2s;
	
	&:focus,
	&:visited {
		color: #fff;
	}
	
	&:hover {
		background-color: darken($color, 10%);
		color: #fff;
		opacity: .9;
	}
	
	&:active {
		background-color: darken($color, 20%);
		color: #fff;
	}
	
	&.round {
		border-radius: 25px;
	}
 	 
	&.full {
		display: block;
	}
}

@mixin bg-color-hover($color: $color-grey) {
	background-color: $color;
	
	&:hover {
		background-color: darken($color, 10%);
	}
	
	&:active {
		background-color: darken($color, 20%);
	}
}

.button {
	@include button;
	
	&.blue {
		@include bg-color-hover($color-blue);
	}
	
	&.red {
		@include bg-color-hover($color-red);
	}
	
	&.pink {
		@include bg-color-hover($color-pink);
	}
	
	&.green {
		@include bg-color-hover($color-green);
	}
}

%image-caption { // style used for both normal and aesop image component captions
    font-family: $font-stack-content;
    @include rem(font-size, 15px);
	font-style: italic;
    margin-bottom: 10px;
	margin-top: 5px;
    @include site-width;
	
	i,
    em {
        font-style: normal;
    }
}

/*
 * Styles for defining social media icons.
 */
$facebook-color: #3b5998;
$twitter-color: #00acee;
$google-color: #dd4b39;
$github-color: #4183c4;
$foursquare-color: #0072b1;
$flickr-color: #ff0084;
$appnet-color: #d87a68;
$linkedin-color: #0976b4;
$youtube-color: #e52d27;
$wordpress-color: #21759b;
$codepen-color: #60c2ff;
$instagram-color: #517fa4;
$tumblr-color: #2c4762;

@mixin social-icon {
    a {
        @each $url, $color, $char in 
                ('facebook', $facebook-color, $fa-var-facebook),
                ('twitter', $twitter-color, $fa-var-twitter),
                ('google', $google-color, $fa-var-google-plus),
                ('github', $github-color, $fa-var-github),
                ('foursqaure', $foursquare-color, $fa-var-foursquare),
                ('flickr', $flickr-color, $fa-var-flickr),
                ('linkedin', $linkedin-color, $fa-var-linkedin),
                ('youtube', $youtube-color, $fa-var-youtube-play),
                ('wordpress', $wordpress-color, $fa-var-wordpress),
                ('codepen', $codepen-color, $fa-var-codepen),
                ('instagram', $instagram-color, $fa-var-instagram),
                ('tumblr', $tumblr-color, $fa-var-tumblr) {
            &[href*='#{$url}'] {
                .fa-circle {
                    color: $color;
                    
                    &:before {
                        transition: color 200ms;
                    }
                    
                    + .social-icon {
                        color: inherit;
                    }
                }
                
                .social-icon {
                    color: $text-color-base;
                    transition: color 200ms;
                    
					&:before {
                        content: $char;
                    }
                }
                
                &:hover {
                    .fa-circle {
                        color: #fff;
                    }
                    
                    .social-icon {
                        color: $color;
                    }
                }
            }
        }
    }
}
