$text-color-base: #3b3b3b;
$text-color-heading: #262b30;
$text-color-content: #333332;
$text-color-quote: #888;
$text-color-cite: #bbb;

$font-weight-normal: 400;

$font-stack-content: 'Open Sans', sans-serif;
$font-stack-heading: Montserrat, sans-serif;
$font-stack-code: 'Source Code Pro', monospace;

$link-color: #026ed2;
$link-color-hover: darken($link-color, 10%);
$link-border-color: #c3c2c9;

$button-background: #fff;
$button-border-color: #c3c2c9;
$button-color: #686868;
$button-color-hover: #fff;
$button-gray-background: #edebf3;
$button-gray-color: #858585;

$narrow: 500px;
$medium: 760px;
$wide: 1000px;

$divider-color: #b3b3b3;

@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px : ();
    $rem: ();
    
    @each $value in $values {
        
        @if $value == 0 or $value == auto {
            $px : append($px , $value);
            $rem: append($rem, $value);
        }
        
        @else { 
            $unit: unit($value);
            $val: parseInt($value);
            
            @if $unit == "px" {
                $px : append($px,  $value);
                $rem: append($rem, ($val / 10 * 1rem));
            }
            
            @if $unit == "rem" {
                $px : append($px,  ($val * 10 * 1px));
                $rem: append($rem, $value);
            }
        }
    }
    
    #{$property}: $px;
    #{$property}: $rem;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
}

@mixin transform($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -o-transform: $val;
    transform: $val;
}

@mixin site-width($width: $medium) {
    width: 90%;
	max-width: $width;
    margin-left: auto;
    margin-right: auto;
}

@mixin background-gradient($color1, $color2) {
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, $color1), color-stop(100%, $color2));
	background-image: -webkit-linear-gradient($color1, $color2);
	background-image: -moz-linear-gradient($color1, $color2);
	background-image: -o-linear-gradient($color1, $color2);
	background-image: linear-gradient($color1, $color2);
}

@mixin box-shadow($val) {
  @each $prefix in -webkit-, -moz-, -o-, null {
    #{$prefix}box-shadow: $val;
  }
}

@mixin box-sizing($val) {
    -webkit-box-sizing: $val;
    -moz-box-sizing: $val;
    box-sizing: $val;
}

@mixin button {
    display: inline-block;
    padding: 7px 22px;
    font: 600 14px $font-stack-content;
    border: 2px solid $button-border-color;
    background: $button-background;
    color: $button-color;
    @include border-radius(4px);
    @include transition(all .2s ease-in-out);
    &:hover {
        border-color: $link-color;
        background: $link-color;
        color: $button-color-hover;    
    }
}

@mixin user-select($val) {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: 0;
	-webkit-touch-callout: $val;
	-webkit-user-select: $val;
	-khtml-user-select: $val;
	-moz-user-select: $val;
	-ms-user-select: $val;
	user-select: $val;
}

@mixin perspective($val) {
    -webkit-perspective: $val; 
    -moz-perspective: $val; 
    -ms-perspective: $val; 
    perspective: $val;
}

@mixin transform-style($val) {
    -webkit-transform-style: $val;
    -moz-transform-style: $val;
    -ms-transform-style: $val;
    transform-style: $val;
}

/*
Styles for defining social media icons.
Use @include on the <ul> element to cascade onto <li> and <a> elements.
*/

$facebook-color: #3b5998;
$twitter-color: #00acee;
$google-color: #dd4b39;
$github-color: #4183C4;
$foursquare-color: #0072B1;
$flickr-color: #FF0084;
$appnet-color: #D87A68;
$linkedin-color: #0976B4;
$youtube-color: #E52D27;
$wordpress-color: #21759B;
$codepen-color: #60c2ff;

@mixin social-icon($size: 'normal') {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    overflow: hidden;
    @include transition(all .25s ease-out);
    @include transform(translateZ(0));
    li {
        display: inline-block;
        padding: 0;
    }
    a {
        @extend .fa; // font awesome
        display: none;
        @if ($size == 'normal') {
            margin: 0 10px 10px 0;
            padding: 12px 0;
            width: 40px;
        } @else if ($size == 'large') {
            margin: 13px;
            padding: 15px 0;
            width: 58px;
            @include rem(font-size, 28px);
        }
        border: 0;
        text-align: center;
        color: #fff;
        @include border-radius(50%);
        @include transition(all .25s ease-out);
        @each $url, $color, $char in 
                ('facebook', $facebook-color, $fa-var-facebook),
                ('twitter', $twitter-color, $fa-var-twitter),
                ('google', $google-color, $fa-var-google-plus),
                ('github', $github-color, $fa-var-github),
                ('foursqaure', $foursquare-color, $fa-var-foursquare),
                ('flickr', $flickr-color, $fa-var-flickr),
                ('linkedin', $linkedin-color, $fa-var-linkedin),
                ('youtube', $youtube-color, $fa-var-youtube-play),
                ('wordpress', $wordpress-color, $fa-var-wordpress),
                ('codepen', $codepen-color, $fa-var-codepen) {
            &[href*='#{$url}'] {
                display: inline-block;
                @include box-shadow(inset 0 0 0 30px $color);
                &:before {
                    content: $char;
                }
                &:hover {
                    color: $color;
                    @include box-shadow(inset 0 0 0 2px $color);
                    border: 0;
                }
            }
        }
        
        // needs more work
        .tooltip {
            position: absolute;
            font-size: 15px;
            background: #111;
            padding: 5px 10px;
            border-radius: 3px;
            top: 75%;
            left: 75%;
            color: #fff;
            font-family: sans-serif;
        }
        
    }
}