$background-color: #fff;
$text-color-base: #3b3b3b;
$text-color-heading: #262b30;
$text-color-content: #333332;
$text-color-quote: #888;
$text-color-cite: #bbb;

$font-weight-normal: 400;

$font-stack-content: 'Open Sans', sans-serif;
$font-stack-heading: Montserrat, sans-serif;
$font-stack-quote: 'Gentium Basic', serif;
$font-stack-code: 'Source Code Pro', monospace;

$link-color: #026ed2;
$link-color-hover: darken($link-color, 10%);
$link-border-color: #c3c2c9;

$button-background: #fff;
$button-border-color: #c3c2c9;
$button-color: #686868;
$button-color-hover: #fff;
$button-gray-background: #edebf3;
$button-gray-color: #858585;

$site-width: 760px;

$facebook-color: #3b5998;
$twitter-color: #00acee;
$google-plus-color: #dd4b39;

$divider-color: #b3b3b3;