/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.widget-area {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #ccc;
    .widget {
        @include site-width($narrow);
        margin-top: 60px;
        margin-bottom: 60px;
        &-title {
            color: #999;
            @include rem(font-size, 30px);
            margin-bottom: 15px;
        }
        ul {
            list-style: none;
            margin-left: 0;
            ul {
                margin-left: 40px;
            }
        }
        li {
            a {
                display: block;
                border-color: #666;
                border-width: 1px;
                padding: 10px 15px;
            }
        }
        a {
            &:hover {
                background: #666;
            }
        }
        .tagcloud {
            text-align: center;
            a {
                &:hover {
                    background: transparent;
                    border-color: #fff;
                }
            }
        }
    }
}