/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 60px 0;
	@include site-width($width-narrow);
	
    ul {
		list-style: none;
		margin-left: 0;
		
        ul {
			margin-left: 40px;
		}
	}
	
    li a {
        border-bottom: 1px solid #ddd;
        display: block;
        padding: 10px 0;
    }
    
	select {
		max-width: 100%; // Make sure select elements fit in widgets
	}
	
	.tagcloud {
		text-align: center;
		
        a:hover {
            background: transparent;
            border-color: $link-border-color;
        }
	}
	
	&_search {
		.search-submit {
			display: none; // hide search widget's submit button
		}
	}
	
	&-title {
		color: #999;
		@include rem(font-size, 30px);
		margin-bottom: 15px;
	}
}
