.yarpp-related {
    .entry-content > & {
        max-width: 100%;
        width: 100%;
        
        h3 {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
    
    > * {
        @include site-width;
    }
    
    .yarpp-thumbnails-horizontal {
        @extend %cf;
        
        .yarpp-thumbnail {
            border: 0;
            display: block;
            float: left;
            margin: 0;
            padding-right: 5px;
            width: 33.33%;
            
            &-title {
                color: $text-color-heading;
                font-size: 100% !important; // the author of yarpp loves tagging everything with !important
                font-weight: normal !important; // ARE YOU KIDDING ME
                margin: 5px 0 0;
                width: auto;
            }
        }
        
        .attachment-yarpp-thumbnail {
            height: auto;
            margin: 0;
            width: 100%;
        }
    }
    
    &-cover {
        list-style: none;
        max-width: 100%;
        padding: 0;
        width: 100%;
        
        li {
            background-color: $color-dark-grey;
            float: left;
            position: relative;
            width: 25%;
            
            @media screen and (max-width: $width-medium) {
                width: 50%;
            }
            
            @media screen and (max-width: $width-phone) {
                width: 100%;
            }
            
            &:before {
                content: '';
                display: block;
                padding-top: 50%;
                
                @media screen and (max-width: $width-medium) {
                    padding-top: 150px;
                }
            }
        }
        
        &-background {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            left: 0;
            opacity: .6;
            position: absolute;
            top: 0;
            transition: background 200ms;
            width: 100%;
        }
        
        &-title {
            @include rem(font-size, 18px);
            bottom: 20px;
            color: #fff;
            font-weight: normal;
            left: 20px;
            line-height: normal;
            max-height: 100%;
            overflow: hidden;
            position: absolute;
            
            @media screen and (max-width: $width-phone) {
                left: 0;
                margin: auto;
                right: 0;
                width: 90%;
            }
        }
    }
}
