body, html {
	height: 100%;
	background: #fff;
	font: 400 16px "Open Sans",serif;
	color: #3b3b3b;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4 {
	margin: 30px 0;
	font: 700 34px Domine,Serif;
	line-height: 56px;
	color: #262b30;
}
h2 {
	margin: 30px 0 20px;
	font: 700 26px Domine,Serif;
}
h3 {
	margin: 20px 0 10px;
	font: 600 22px 'Open Sans',Serif;
}
h4 {
	margin: 20px 0 10px;
	font: 600 20px 'Open Sans',Serif;
}

p {
	margin: 30px 0;
	line-height: 38px;
	color: #333332;
	word-wrap: break-word;
}

blockquote, cite, q {
	margin: 30px 0 30px 4%;
	border-left: 3px solid #c6d5e1;
	padding: 5px 4%;
	font: italic 700 18px Domine,Serif;
	line-height: 38px;
}

blockquote p,
cite p,
q p {
	margin:0;
	padding:0
}

h1 a:hover,
p a:hover {
	border-bottom: 3px solid #f1ece9;
	text-decoration: none;
}

a:link,
a:visited {
	font-weight: 600;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	-webkit-transition: border .2s,color .2s ease-out;
	-moz-transition: border .2s,color .2s ease-out;
	-o-transition: border .2s,color .2s ease-out;
	transition: border .2s,color .2s ease-out;
}

ul.inline {
	margin: 0;
}

ul.inline li {
	display: inline-block;
	margin-right: 10px;
}
ul.inline li:after {
	display: inline-block;
	content: '•';
	color: #ccc;
	padding-left: 10px;
}
ul.inline li:last-child:after {
	display: none;
}

img.avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}