.btn {
	padding: 5px 10px 6px;
	box-shadow: none;
	text-shadow: none;
	color: #333332;
}
.btn:hover {
	box-shadow: none;
}
.btn:active,
.btn:focus {
	box-shadow: none;
}
.btn.btn-default {
	background: #fff;
}
.btn.btn-primary {
	background: #026ed2;
	border-color: #026ed2;
	color: #fff;
}
.btn.btn-light {
	background: #ccc;
	border-color: #ccc;
}
.btn.btn-dark {
	background: #29292a;
	border-color: #29292a;
	color: #fff;
}
.btn.btn-link {
	background: transparent;
	border-color: transparent;
}