/** comments **/

#comments {
	padding-bottom: 30px;
}

#comments h3 {
	margin: 30px 0;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 30px;
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-list li {
	margin: 15px 0;
	border-bottom: 1px solid #eee;
}

.comment-author .avatar {
	float: right;
}

.comment-author .says {
	display: none;
}

.comment-content {
	clear: both;
}

.comment-content p {
	margin: 15px 0;
}