/** comments **/

.graybar {
	margin: 10px 0;
	font: 600 18px 'Open Sans',Serif;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #eee;
	color: #abaeb6;
	padding: 15px 20px;
}

.graybar i {
	margin-right: 10px;
}

#comments {
	padding-bottom: 30px;
}

.comments-area ol {
	list-style: none;
	margin: 0;
}

.comment-list li {
	border-bottom: 1px solid #eee;
	padding: 30px 0 10px;
}

.comment-author .avatar {
	float: left;
	margin: -5px 23px 0 0;
	width: 62px;
	height: 62px;
}

.comment-author {
	margin: 5px 0;
	font: 700 24px Montserrat, sans-serif;
}

.comment-author a {
	color: #232730;
}

.comment-author .says {
	display: none;
}

.comment-metadata {
	margin: 8px 0;
	font: 600 14px 'Open Sans', sans-serif;
	color: #abaeb6;
}

.comment-metadata time {
	color: #65686e;
}

.comment-content {
	clear: both;
}

.comment-content p {
	margin: 15px 0;
}

.comment-metadata {
	margin-top: 5px;
}

.comment-metadata a {
	color: #b6b6b6;
}