/** post profile **/

.postprofile {
	overflow: hidden;
	padding: 15px 0;
	margin: 30px 0 50px;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
}

.postprofile .avatar {
	display: block;
	float: left;
	width: 12%;
	margin: 30px 0;
	-webkit-border-radius: 96px;
	-moz-border-radius: 96px;
	border-radius: 96px;
}

.postprofile .info {
	width: 82%;
	display: block;
	float: right;
}

.postprofile h4 {
	margin: 15px 0;
}

.postprofile p {
	margin: 15px 0;
	font: 400 14px 'Open Sans',Serif;
	line-height: 32px;
}