/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/

%cf,
.cf {
    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}

.clear,
.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@extend %cf;
}
