.site-footer {
  @include rem(font-size, 13px);
  background-color: $color-white;
  color: $color-medium-grey;
  padding: 30px 0;

  .site-info {
    @extend %cf;
    @include site-width;

    .site-credits {
      float: left;
    }

    .social-navigation {
      float: right;
      font-size: $font-size-normal;
    }

    @media screen and (max-width: $width-phone) {
      .site-credits,
      .social-navigation {
        float: none;
        margin-top: 20px;
        text-align: center;
      }
    }
  }

  a:hover {
    border-color: $link-border-color;
  }
}
