// Naked Social Share support

.naked-social-share {
  ul {
    list-style: none;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 2px;
  }

  a {
    @include button;
    position: relative;
  }
}

// not the same as the main social icon builder because less networks are supported
// at least we can reuse the color vars defined in _social
$nss-social-networks: (
  'facebook'    $facebook-color,
  'google'      $googleplus-color,
  'linkedin'    $linkedin-color,
  'pinterest'   $pinterest-color,
  'stumbleupon' $stumbleupon-color,
  'twitter'     $twitter-color
);

.nss {
  @each $social-network in $nss-social-networks {
    $name: nth($social-network, 1);
    $color: nth($social-network, 2);

    &-#{$name} a {
      @include bg-color-hover($color);
    }
  }

  &-site {
    &-name {
      display: none; // until I figure out what to do with this, I guess
    }

    $nss-border-margin: 15px;

    &-count {
      margin-left: $nss-border-margin;
      padding-left: $nss-border-margin;

      // fake out a border flush with the top and bottom
      &:before {
        background-color: $color-white;
        bottom: 0;
        content: '';
        margin-left: -$nss-border-margin;
        position: absolute;
        top: 0;
        width: 1px;
      }
    }
  }
}
