// social network colors
$appnet-color: #d87a68;
$behance-color: #1769ff;
$codepen-color: #60c2ff;
$deviantart-color: #637768;
$digg-color: #009ede;
$dribbble-color: #ea4c89;
$dropbox-color: #007ee5;
$facebook-color: #3b5998;
$flickr-color: #ff0084;
$foursquare-color: #0072b1;
$github-color: #4183c4;
$googleplus-color: #dd4b39;
$gratipay-color: #630;
$instagram-color: #517fa4;
$lastfm-color: #e31b23;
$linkedin-color: #0976b4;
$paypal-color: #009cde;
$pinterest-color: #ab171e;
$reddit-color: #ff4500;
$rss-color: #f60;
$skype-color: #00aff0;
$slideshare-color: #0077b5;
$soundcloud-color: #ff8601;
$spotify-color: #23d05f;
$stackexchange-color: #366fb3;
$stackoverflow-color: #fc9a24;
$stumbleupon-color: #eb4924;
$trello-color: #0e74af;
$tumblr-color: #2c4762;
$twitch-color: #6541a5;
$twitter-color: #00acee;
$vimeo-color: #17b3e8;
$vine-color: #00be8f;
$wordpress-color: #21759b;
$yahoo-color: #500095;
$youtube-color: #e52d27;

// map of all social networks I care to include
// most are commented out, since they will bloat the stylesheet
$social-icons: (
//'app.net'           $appnet-color        $fa-var-adn,
//'behance.net'       $behance-color       $fa-var-behance,
  'codepen.io'        $codepen-color       $fa-var-codepen,
//'deviantart.com'    $deviantart-color    $fa-var-deviantart,
//'digg.com'          $digg-color          $fa-var-digg,
  'dribbble.com'      $dribbble-color      $fa-var-dribbble,
//'dropbox.com'       $dropbox-color       $fa-var-dropbox,
  'facebook.com'      $facebook-color      $fa-var-facebook,
  'flickr.com'        $flickr-color        $fa-var-flickr,
//'foursquare.com'    $foursquare-color    $fa-var-foursquare,
  'github.com'        $github-color        $fa-var-github,
//'gratipay.com'      $gratipay-color      $fa-var-gittip,
//'gittip.com'        $gratipay-color      $fa-var-gittip,
  'instagram.com'     $instagram-color     $fa-var-instagram,
//'last.fm'           $lastfm-color        $fa-var-lastfm,
  'linkedin.com'      $linkedin-color      $fa-var-linkedin,
//'paypal.com'        $paypal-color        $fa-var-paypal,
  'pinterest.com'     $pinterest-color     $fa-var-pinterest,
  'plus.google.com'   $googleplus-color    $fa-var-google-plus,
//'reddit.com'        $reddit-color        $fa-var-reddit,
//'skype.com'         $skype-color         $fa-var-skype,
//'slideshare.net'    $slideshare-color    $fa-var-slideshare,
  'soundcloud.com'    $soundcloud-color    $fa-var-soundcloud,
//'spotify.com'       $spotify-color       $fa-var-spotify,
//'stackexchange.com' $stackexchange-color $fa-var-stack-exchange,
//'stackoverflow.com' $stackoverflow-color $fa-var-stack-overflow,
//'stumbleupon.com'   $stumbleupon-color   $fa-var-stumbleupon,
//'trello.com'        $trello-color        $fa-var-trello,
  'tumblr.com'        $tumblr-color        $fa-var-tumblr,
//'twitch.tv'         $twitch-color        $fa-var-twitch,
  'twitter.com'       $twitter-color       $fa-var-twitter,
  'vimeo.com'         $vimeo-color         $fa-var-vimeo,
//'vine.co'           $vine-color          $fa-var-vine,
  'wordpress.com'     $wordpress-color     $fa-var-wordpress,
  'wordpress.org'     $wordpress-color     $fa-var-wordpress,
//'yahoo.com'         $yahoo-color         $fa-var-yahoo,
  'youtube.com'       $youtube-color       $fa-var-youtube-play,
  '/feed'             $rss-color           $fa-var-rss
);
/*
* There are two different styles for displaying a social menu, one in the overlay and
* one in the footer. The overlay menu has this markup:
*
* <a href="#link_to_social_network">
*   <span class="fa-stack fa-2x">
*     <i class="fa fa-circle fa-stack-2x"></i>
*     <i class="fa fa-stack-1x social-icon"></i>
*     <span class="screen-reader-text">[Menu Item Name]</span>
*   </span>
* </a>
*
* The footer social menu has this markup:
*
* <a href="#link_to_social_network">
*   <i class="fa fa-fw social-icon"></i>
*   <span class="screen-reader-text">[Menu Item Name]</span>
* </a>
*
* Both types of markup are supported by the following @each loop.
*/

@mixin social-icon {
  a {
    .fa-circle {
      &:before {
        transition: color 200ms;
      }

      + .social-icon {
        color: $color-white;
      }
    }

    .social-icon {
      color: $text-color-base;
      transition: color 200ms;
    }
  }

  a {
    @each $social-icon in $social-icons {
      $url: nth($social-icon, 1);
      $color: nth($social-icon, 2);
      $char: nth($social-icon, 3);

      &[href*='#{$url}'] {
        .fa-circle {
          color: $color;
        }

        .social-icon {
          &:before {
            content: $char;
          }
        }

        &:hover {
          .fa-circle {
            color: $color-white;
          }

          .social-icon {
            color: $color;
          }
        }
      }
    }
  }
}
