$font-size-normal:    16px;
$font-size-large:     18px;
$font-size-heading-1: 58px;
$font-size-heading-2: 26px;
$font-size-heading-3: 22px;
$font-size-heading-4: 20px;
$font-weight-normal:  400;

$font-stack-content: 'Open Sans', sans-serif;
$font-stack-heading: Montserrat, sans-serif;
$font-stack-code:    'Source Code Pro', monospace;
