.btn {
    display: inline-block;
    padding: 7px 22px;
    font: 600 14px 'Open Sans',Serif;
    border: 2px solid $button-border-color;
    background: $button-background;
    color: $button-color;
    @include border-radius(20px);
    @include transition-all;
    &:hover {
        border-color: $button-background-hover;
        background: $button-background-hover;
        color: $button-color-hover;    
    }
    &.gray {
        border-color: $button-gray-background;
        background: $button-gray-background;
        color: $button-gray-color;
        &:hover {
            background: $button-background;
        }
    }
    .entry-meta & {
        margin: 0 15px 15px 0;
    }
}