#header {
	position: absolute;
	width: 100%;
	z-index: 2;
	background: #fff;
	padding: 20px 0;
	margin: 0 auto;
	top: 0;
	height: 72px;
	z-index: 410;
    @media screen and (max-width: 768px) {
        position: static;
    }
    .header-container {
        width: 90%;
        margin: 0 auto;
    }
    a {
        color: #000;
    }
    .title {
        font-weight: 600;
        font-size: 125%;
        &:hover {
            border-color: $link-color;
        }
    }
    .main-navigation {
        float: right;
        width: auto;
        clear: none;
        li {
            padding: 2px 0 2px 30px;
            &:hover a {
                border-color: $link-color;
            }
        }
        a {
            padding: 1px 0 2px;
            &:hover {
                border-color: $link-color;
            }
        }
    }
    .mobile-menu {
        display: none;
        float: right;
        position: relative;
        z-index: 1081;
        a {
            font-size: 130%;
            padding: 0;
            border: 0;
        }
        @media screen and (max-width: $site-width) {
            display: block;
        }
    }
}

/** plain ol' css -- fix me **/

@media screen and (max-width: 768px) {
	.show-nav #header .burger {
		display: none;
	}
	#header .close {
		display: none;
	}
	.show-nav #header .close {
		display: inline-block;
	}
	
	#header .main-navigation {
        visibility: hidden;
        opacity: 0;
        @include transition-all;
        position: absolute;
		z-index: 1080;
        left: 35px;
        right: 35px;
        top: 35px;
        background: #fff;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
	}
	.show-nav #header .main-navigation {
		visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
	}
    #header .main-navigation ul {
        padding-bottom: 30px;
    }
	#header .main-navigation li {
		float: none;
		padding: 20px 0 0;
        text-align: center;
	}
	#header .main-navigation li a {
		padding: 10px 0 2px;
		display: inline-block;
	}
	#header .main-navigation li ul {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.main-navigation ul {
		display: block;
	}
}

#header .main-navigation ul li:hover > ul {
	background: #fff;
	margin: 6px 0 0 15px;;
	padding: 22px 0 5px;
	box-shadow: none;
}
#header .main-navigation ul li:hover > ul li {
	padding: 0;
}
#header .main-navigation ul li:hover > ul li a {
	padding: 10px 15px;
	border: 0;
}
#header .main-navigation ul li:hover > ul li a:hover {
	background: #ddd;
}

/** mobile menu overlay **/

@media screen and (max-width: 768px) {
    #overlay {
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1079;
        background: rgba(0,0,0,0.5);
        @include transition-all;
    }
    body.show-nav #overlay {
        position: fixed;
        opacity: 1;
        visibility: visible;
    }
}

/** paging and post nav **/

.site-main [class*="navigation"] {
	padding: 50px 0;
}

// jetpack infinite scrolling support
#infinite-handle {
	padding: 50px 0;
	text-align: center;
}

.paging-navigation a,
.post-navigation a,
#infinite-handle span {
	border: 2px solid #c3c2c9;
	background: #fff;
	color: #686868;
	display: inline-block;
	padding: 7px 22px;
	font: 600 14px 'Open Sans',Serif;
    @include border-radius(20px);
    @include transition-all;
}
.paging-navigation a:hover,
.post-navigation a:hover,
#infinite-handle span:hover {
	border: 2px solid $link-color;
	background: $link-color;
	color: #fff;
}

// fix spacing around loading spinner
.infinite-loader {
	margin: 50px 0;
}
.infinite-loader .spinner {
	margin: 0 auto;
}

/** font awesome nav elements **/

.fa-chevron-left.meta-nav {
	margin-right: 15px;
}
.fa-chevron-right.meta-nav {
	margin-left: 15px;
}

@media screen and (max-width: 405px) {
	.paging-navigation .fa.meta-nav,
	.post-navigation .fa.meta-nav {
		margin: 0;
	}
	
	.paging-navigation a span,
	.post-navigation a span {
		display: none;
	}
}

a.backtotop:link,
a.backtotop:visited {
    width: 36px;
    height: 36px;
    border: 2px solid #ccc;
    background: transparent;
    color: #ccc;
    visibility: hidden;
    opacity: 0;
	position: fixed;
	bottom: 14px;
	right: 15px;
	text-align: center;
    z-index: 400;
    @include border-radius(20px);
    @include transition-all;
}
a.backtotop.show {
    visibility: visible;
    opacity: 1;
}
a.backtotop:hover {
	background: $link-color;
    border-color: $link-color;
    color: #fff;
}

.backtotop i {
	margin-top: 8px;
}