.swiper-slide {
    width: 100%;
	height: 450px;
}

.swiper-container {
    @extend .swiper-slide;
    .fa-angle-left {
        @include swiper-arrow;
        left: 0;
    }
    .fa-angle-right {
        @include swiper-arrow;
        right: 0;
    }
}