body.custom-background {
  &.ignore-custom-background,
  &.single,
  &.page,
  &.search-no-results,
  &.error404 {
    background-color: $color-white;
    background-image: none;
  }
}

.site-main {
  .minimal {
    margin-top: $header-height;
  }

  .grid {
    @extend .cf;
    @include site-width;
    margin-top: $header-height;
    padding-top: 50px;

    &.card-2 {
      max-width: $width-wide;
    }

    &.card-3 {
      max-width: 100%;
    }
  }
}

.cover + .minimal,
.featured-container + .minimal,
.unslider + .minimal,
.cover + .grid,
.featured-container + .grid,
.unslider + .grid {
  margin-top: 0;
}
