.hamburger {
  border: 0;
  display: inline-block;
  height: 30px;
  margin: 1px auto -15px;
  padding-top: 5px;
  -webkit-tap-highlight-color: transparent;
  width: 28px;

  span {
    display: block;
    position: relative;

    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      top: -9px;
    }

    &::after {
      top: 9px;
    }
  }
}

.hamburger span,
.hamburger span::after,
.hamburger span::before {
  backface-visibility: hidden;
  background-color: $color-white;
  border-radius: 2px;
  height: 5px;
  transition: all .5s;
  width: 100%;
}

.noscroll .hamburger,
.hamburger.close {
  margin-right: 18px;
  pointer-events: auto;
  transform: translate3d(0, 3px, 0);

  @include max-width($width-tablet) {
    margin-right: 0;
  }

  &::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: -25%;
    width: 100%;
  }

  span {
    background-color: transparent;
  }

  span::before,
  span::after {
    background-color: $color-white;
  }

  span::before {
    transform: rotate(45deg) translate(5px, 5px);
  }

  span::after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
}
