.header {
  @include rem(font-size, 24px);
  color: $color-white;
  left: 0;
  padding: 0 $header-padding;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: $z-index-header;

  .backdrop {
    background-color: $header-color;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 200ms;
    z-index: $z-index-header-backdrop;

    @each $colors in $format-colors {
      $format: nth($colors, 1);
      $color: nth($colors, 2);

      .single-format-#{$format} & {
        background-color: $color;
      }
    }

    .noscroll & {
      background-color: transparent;
    }
  }

  &.bg .backdrop {
    opacity: 1;
  }

  a {
    color: $color-white;

    &:hover {
      border-color: $color-white;
    }
  }

  .site {
    &-info {
      overflow: hidden;
      padding: 20px 0;
      text-overflow: ellipsis;
      transition: opacity 200ms;
      white-space: nowrap;
    }

    &-nav {
      float: right;
      margin: 20px 0 20px 20px;

      a {
        border: 0;
        margin-right: 20px;
        -webkit-tap-highlight-color: transparent;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-title {
      &:empty + .site-description {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }

    &-description {
      @include rem(font-size, 14px);
      border: 0 solid rgba(255, 255, 255, .25);
      border-left-width: 1px;
      color: $color-white;
      margin-left: 20px;
      overflow: hidden;
      padding-left: 20px;
      text-overflow: ellipsis;
      transition: all .2s ease-in-out;
      vertical-align: middle;

      @include max-width($width-phone) {
        border-left: 0;
        border-top-width: 1px;
        display: block;
        margin-left: 0;
        margin-top: 10px;
        padding-left: 0;
        padding-top: 10px;
      }

      &:empty {
        display: none;
      }
    }
  }

  .avatar {
    margin-right: 5px;
  }

  .author:hover {
    border-color: transparent;

    .name {
      border-color: $color-white;
    }
  }

  .noscroll & {
    pointer-events: none;
    top: 0;

    .site-info {
      opacity: 0;
    }
  }
}

.noscroll .site-search,
.noscroll .chapter-toggle {
  opacity: 0;
}

.custom-logo {
  height: ($header-height - 20);
  margin: 0 15px 0 0;
  vertical-align: middle;
  width: auto;

  @include max-width($width-tablet) {
    margin-right: 10px;
  }

  &-link {
    border: none;
    display: inline-block;
    margin: -10px 0;
    transition: opacity 200ms;
    vertical-align: top;
  }
}
