.overlay {
	@include rem(font-size, 20px);
	background-color: $overlay-color-light;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	padding: 60px 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity 200ms;
	visibility: hidden;
	z-index: $z-index-overlay;

	&:target {
		opacity: 1;
		visibility: visible;
		z-index: $z-index-header;
	}

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-light-gray-alt2;
	}

	&.overlay-dark::-webkit-scrollbar-thumb {
		background-color: $color-medium-gray;
	}

	.widget-area {
		margin-bottom: 60px;
		margin-top: 60px;
	}

	.tagcloud a {
		border-color: transparent;
	}

	.menu {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.main-navigation,
	.social-navigation {
		@include site-width($width-narrow);
		float: none;
		margin-bottom: 60px;
		margin-top: 60px;
	}

	.social-navigation {
		text-align: center;
	}

	.search-form .search-field {
		border-radius: 0;
		box-sizing: border-box;
		padding: 10px;
		width: 100%;
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}

	&-menu {
		.widget:not(:only-child) {
			width: 100%;
		}

		a,
		a:visited {
			color: $color-dark-gray;

			&:hover {
				color: $color-gray;
			}
		}
	}

	&-search {
		.search {
			&-form {
				@include site-width;
				margin-bottom: 40px;
				margin-top: 100px;

				.search-field {
					border-bottom: 2px solid $text-color-base;
					padding: 0;
				}
			}

			&-field {
				@include rem(font-size, 50px);
				background-color: transparent;
				border: 0;
				display: block;
				outline: 0;

				@include max-width($width-tablet) {
					@include rem(font-size, 30px);
				}
			}

			&-results {
				@include rem(font-size, $font-size-normal);
			}
		}

		label {
			display: block;
		}

		.hentry,
		.single & .hentry,
		.page & .hentry {
			padding: 50px 0;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.widget-area {
			@extend .cf;
			max-width: none;
		}
	}

	&-dark {
		background-color: $overlay-color-dark;
		color: $text-color-overlay-dark;

		.widget {
			&-area {
				p {
					color: $color-white;
				}
			}

			li a {
				border-color: $color-medium-gray;
			}
		}

		&.overlay-menu {
			a,
			a:visited {
				color: $color-white;

				&:hover {
					color: $color-light-gray-alt3;
				}
			}

			.tagcloud a {
				&:hover {
					border-color: $color-white;
					color: $color-white;
				}
			}
		}

		.main-navigation a {
			border-bottom-color: $color-medium-gray;
		}

		&.overlay-search {
			.search {
				&-form {
					.search-field {
						border-color: $color-white;
					}
				}

				&-field {
					color: $color-white;

					&:focus {
						color: $color-white;
					}
				}
			}
		}
	}

	.header {
		margin-top: -60px;
	}

	&-embed {
		padding-bottom: 0;

		video,
		iframe {
			bottom: 0;
			display: block;
			height: 56.25vw; // 16:9 aspect ratio
			left: 0;
			margin: auto;
			max-height: calc(100vh - 60px); // eliminates scrollbar for supported browsers
			//max-width: xxx; // TODO figure out how to limit width dynamically for 16:9 aspect ratio
			position: absolute;
			right: 0;
			top: 0;
			width: 100vw;
		}
	}
}

.svg-icon > svg {
	height: 25%;
	width: 25%;

	path {
		fill: $color-blue;
	}

	.entry-featured-image & {
		bottom: 0;
		display: block;
		left: 0;
		margin: auto;
    position: absolute;
    right: 0;
		top: 0;
	}

	.cover-background-video & {
		height: 100%;
		width: 100%;
	}
}
