/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget-area {
	@include site-width($width-narrow);
	display: flex;
	flex-flow: row wrap;
}

.widget {
	@include site-width($width-narrow);
	margin-bottom: 60px;
	margin-top: 60px;

	@include min-width($width-tablet) {
		.widget-area &:not(:only-child) {
			float: left;
			margin-left: 5%;
			margin-right: 5%;
			max-width: none;
			width: 40%;
		}
	}

	ul {
		list-style: none;
		margin-left: 0;
	}

  li a {
    border-bottom: 1px solid $color-light-gray-alt;
    display: block;
    padding: 10px 0;
  }

	select {
		max-width: 100%; // Make sure select elements fit in widgets
	}

	.tagcloud {
		text-align: center;

    a:hover {
      background: transparent;
      border-color: $link-border-color;
    }
	}

	&_search {
		.search-submit {
			display: none; // hide search widget's submit button
		}
	}

	&-title {
		@include rem(font-size, 30px);
		color: $color-gray-alt;
		margin-bottom: 15px;
	}
}
